# Node modules
/node_modules/

# NPM log files
npm-debug.log
yarn-error.log
lerna-debug.log

# Environment variables
.env

# Build output
/dist/
/build/

# IDE and Editor configurations
/.idea/
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
/logs
*.log

# Coverage directory used by testing tools
/coverage/

# Directory for deployable packages
/.next/
/out/

# Optional npm package lock file
package-lock.json
